<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home / Timesheet Page</title>
</head>
<body>
<h1>Проект #<span th:text="${project.id}"></span></h1>

<h1>Записи учета рабочего времени относящиеся к этому проекту:</h1>
<table>
    <thead>
    <tr>
        <th>Идентификатор записи</th>
        <th>Минут потрачено</th>
        <th>Дата записи</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timesheet : ${project.timesheets}">
        <td><span th:text="${timesheet.id}"></span></td>
        <td><span th:text="${timesheet.minutes}"></span></td>
        <td><span th:text="${timesheet.createdAt}"></span></td>
    </tr>
    </tbody>
</table>


</body>
</html>